.footstepItemContainer {
  font-family: 'Staatliches', cursive;
  font-size: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.itemInfo {
  width: 400px;
}

.footstepMessage {

}

.footstepUsername {

}

.footstepCreatedAt {

}