.itemContainer {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 40px;
}

.itemInfo {
  display: inline-block;
  width: 180px;
}

.itemBtnContainer {
  display: inline-block;
  position: relative;
  bottom: 23px;
}

.itemEditBtn {

}

.itemDeleteBtn {
  background-color: #ff5e6c;
	border-radius: 4px;
	border: 5px solid #ff5e6c;
	display: inline-block;
	cursor: pointer;
	color : #2f1728;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	padding: 3px 40px;
	text-decoration: none;
  text-shadow: 0px 1px 0px #ff5e6c;
  margin-left: 15px;
}